//@require './file.styl1'

// VARIABLES 
typeFace = 'Orbitron', sans-serif;
color1 = #FF0000
color2 = #999999
fontSize = 3vh

tablet = '(min-width: 1020px)'
//largeMobile = 768px
smallMobile = '(max-width: 420px)'

//FUNCTIONS
border(color, thin, thick)
    border-top: solid color thin
    border-right: solid color thin
    border-bottom: solid color thick
    border-left solid color thick

//GENERAL & LAYOUT
*, *:before, *:after
    box-sizing: border-box

body
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    background-color: white
    color: black

footer
    position: static
    bottom: 0
    margin-top: 1rem
    margin-bottom: .5rem
    font-size: 1rem
    font-family: typeFace

#calculator
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
    grid-template-areas: 'display display display display' 'AC CE percent divide' 'seven eight nine multiply' 'four five six subtract' 'one two three add' 'posneg decimal zero equal'
    grid-column-gap: 10px
    grid-row-gap: 10px
    border(black, 3px, 8px)
    padding: 10px
    margin-left: 2rem
    margin-right: 2rem
    font-size: fontSize
    font-family: typeFace
    max-width: 500px
    max-height: 700px
    height 700px
    width: 600px
    @media smallMobile
        height: 90%
        width: 100% 
        min-height: 80%
        grid-column-gap: 5px
        grid-row-gap: 5px
        border(black, 1px, 5px)  
        font-size: fontSize/2 
  

button
    border(black, 3px, 8px)
    font-family: typeFace
    font-size: fontSize
    text-align: center
    @media smallMobile
        border(black, 1px, 5px)
        font-size: fontSize/2

button:focus, button:visited
    outline: none;

#display
    grid-column: 1 / span 4
    grid-row: 1 / 2
    padding: 20px 10px 20px 10px
    text-align: right
    vertical-align: bottom 
    background-color: black
    
#inputs
    font-size: fontSize * 2
    letter-spacing: 2
    margin-right: -8px
    color: color1
    height: 100px;
    @media tablet
        font-size: fontSize * 1.5

#operation-string
    letter-spacing: 2
    vertical-align: bottom 
    padding-top: 20px
    color: color2
    @media tablet
        font-size: fontSize * .8


// BUTTONS

.clear
    background-color: lighten(color1, 30%)
.clear:active
    background-color: lighten(color1, 30%)
    border(lighten(color1, 30%), 1px, 5px)
    color: white
.digit
    background-color: white
.digit:active
    background-color: black
    color: white
.formatter
    background-color: lighten(color2, 60%)
.formatter:active
    background-color: lighten(color2, 60%)
    border(lighten(color2, 60%), 1px, 5px)
    color: white
.operator
    background-color: lighten(color2, 30%)
.operator:active, .operator:focus
    background-color: lighten(color2, 30%)
    border(lighten(color2, 30%), 1px, 5px)
    color: white

#numbers
    grid-column: 1 / span 4
    grid-row: 1 / 2
#AC
    grid-area: AC

#CE
    grid-area: CE

#pos-neg
    grid-area: posneg

#percent
    grid-area: percent

#divide
    grid-area: divide

#multiply
    grid-area: multiply

#subtract
    grid-area: subtract

#add
    grid-area: add

#equal
    grid-area: equal

#nine
    grid-area: nine

#eight
    grid-area: eight

#seven
    grid-area: seven

#six
    grid-area: six

#five
    grid-area: five

#four
    grid-area: four

#three
    grid-area: three

#two
    grid-area: two

#one
    grid-area: one

#zero
    grid-area: zero

#decimal
    grid-area: decimal
    font-weight: 900
