*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
}
footer {
  position: static;
  bottom: 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif;
}
#calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'display display display display' 'AC CE percent divide' 'seven eight nine multiply' 'four five six subtract' 'one two three add' 'posneg decimal zero equal';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-top: solid #000 3px;
  border-right: solid #000 3px;
  border-bottom: solid #000 8px;
  border-left: solid #000 8px;
  padding: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 3vh;
  font-family: 'Orbitron', sans-serif;
  max-width: 500px;
  max-height: 700px;
  height: 700px;
  width: 600px;
}
@media (max-width: 420px) {
  #calculator {
    height: 90%;
    width: 100%;
    min-height: 80%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-top: solid #000 1px;
    border-right: solid #000 1px;
    border-bottom: solid #000 5px;
    border-left: solid #000 5px;
    font-size: 3vh/2;
  }
}
button {
  border-top: solid #000 3px;
  border-right: solid #000 3px;
  border-bottom: solid #000 8px;
  border-left: solid #000 8px;
  font-family: 'Orbitron', sans-serif;
  font-size: 3vh;
  text-align: center;
}
@media (max-width: 420px) {
  button {
    border-top: solid #000 1px;
    border-right: solid #000 1px;
    border-bottom: solid #000 5px;
    border-left: solid #000 5px;
    font-size: 3vh/2;
  }
}
button:focus,
button:visited {
  outline: none;
}
#display {
  grid-column: 1/span 4;
  grid-row: 1/2;
  padding: 20px 10px 20px 10px;
  text-align: right;
  vertical-align: bottom;
  background-color: #000;
}
#inputs {
  font-size: 6vh;
  letter-spacing: 2;
  margin-right: -8px;
  color: #f00;
}
@media (min-width: 1020px) {
  #inputs {
    font-size: 4.5vh;
  }
}
#operation-string {
  letter-spacing: 2;
  vertical-align: bottom;
  padding-top: 20px;
  color: #999;
}
@media (min-width: 1020px) {
  #operation-string {
    font-size: 2.4vh;
  }
}
.clear {
  background-color: #ff4d4d;
}
.clear:active {
  background-color: #ff4d4d;
  border-top: solid #ff4d4d 1px;
  border-right: solid #ff4d4d 1px;
  border-bottom: solid #ff4d4d 5px;
  border-left: solid #ff4d4d 5px;
  color: #fff;
}
.digit {
  background-color: #fff;
}
.digit:active {
  background-color: #000;
  color: #fff;
}
.formatter {
  background-color: #d6d6d6;
}
.formatter:active {
  background-color: #d6d6d6;
  border-top: solid #d6d6d6 1px;
  border-right: solid #d6d6d6 1px;
  border-bottom: solid #d6d6d6 5px;
  border-left: solid #d6d6d6 5px;
  color: #fff;
}
.operator {
  background-color: #b8b8b8;
}
.operator:active,
.operator:focus {
  background-color: #b8b8b8;
  border-top: solid #b8b8b8 1px;
  border-right: solid #b8b8b8 1px;
  border-bottom: solid #b8b8b8 5px;
  border-left: solid #b8b8b8 5px;
  color: #fff;
}
#AC {
  grid-area: AC;
}
#CE {
  grid-area: CE;
}
#pos-neg {
  grid-area: posneg;
}
#percent {
  grid-area: percent;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#subtract {
  grid-area: subtract;
}
#add {
  grid-area: add;
}
#equal {
  grid-area: equal;
}
#nine {
  grid-area: nine;
}
#eight {
  grid-area: eight;
}
#seven {
  grid-area: seven;
}
#six {
  grid-area: six;
}
#five {
  grid-area: five;
}
#four {
  grid-area: four;
}
#three {
  grid-area: three;
}
#two {
  grid-area: two;
}
#one {
  grid-area: one;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
  font-weight: 900;
}
